body {
    margin : 0;
    height: 100vh;
    width : 100vw;
    overflow: hidden;
}

.body_canvas {
    background-color: aqua;
    display: flex;
    height: 100vh;
    width : 100vw;
}

.left_side {
    height: 100vh;
    width: 40vw;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23110718' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23220e30' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23331447' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23441b5f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    position: relative;
}

.logo_bar {
    background-color: grey;
    width: 40vw;
    height: 20vh;
    opacity: 0.5;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: row nowrap;
    font-size: 5vh;
    letter-spacing: 5px;
    white-space: nowrap;
}

.right_side {
    border:2px solid #000000;
    width: 60vw;
    height: 100vh;    
    background-color: white;
}

.header {
    background-color: #EB5B00;
    width: 60vw;
    height: 30vh;
    display : flex;
}

.header p {
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: row wrap;
    font-size: 5vh;
    letter-spacing: 2px;
    white-space: wrap;
}

/*.form_section {
    background-color: #B12C00;
    width: 60vw;
    height: 50vh;
    display:flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}*/

input:focus {
    border-color: 3px solid blue;
    box-shadow: lightseagreen;
}

input:valid {
    border-color: 1px solid green;
}

.form_section {
    background-color: #B12C00;
    width: 60vw;
    height: 50vh;
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.names_form {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.email_num_form {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
}

.password_form {
    display: flex;
    justify-content: space-evenly;
}
input:invalid {
    border-color: 1px solid red;
}

.buttons_form {
    display: flex;
    justify-content: center;
}

.form_section label,input, button {
    margin: 1rem;
}

.form_section button {
    background-color: #EB5B00;
    border: 2px solid black;
    width: 20vw;
    font-size: 20px;
    
}

.form_section button:hover{
    background-color: #640D5F;
    color: #FFCC00;
}

.footer {
    background-color: #640D5F;
    width: 60vw;
    height: 20vh;
    display: flex;
    
}

.footer > a :hover, a:visited {
     color: #FFCC00 
}


.footer p {
    text-align: start;
    align-self: center;
    align-items: start;
    justify-content: start;
    justify-items: start; 
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: wrap;
}